.policy-bg-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* color: white; */
  padding: 15px;
  /* background-image: linear-gradient(35deg, yellow, coral); */
}
