.seller-add-product-bg-container {
  background-color: #d4f5d280;
}

.form-container {
  background-color: #d4f5d280;
  width: 70%;
  border-radius: 15px;
}

.label {
  font-weight: 600;
}

.input-field {
  margin-top: 5px !important;
}

.leaf-icon {
  color: green;
  margin-right: 10px;
}

.eco-details-heading {
  color: green;
}

.main-heading,
.sub-heading {
  font-family: "Roboto Serif Bree Serif";
  font-weight: bold;
}
