.register-bg-container {
  background-color: #ffffff;
}

.register-heading {
  background-color: #94e694;
  color: black;
  font-family: "Roboto";
}

.register-form {
  width: 100% !important;
}

.register-heading {
  border-radius: 10px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .register-form-container {
    width: 100% !important;
  }
}
